body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}
#projects {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card .btn {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-card .btn:hover {
  background-color: #0056b3;
}

.carousel-item img {
  border-radius: 8px;
  height: auto;
  max-height: 350px;
  object-fit: contain;
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #bcbaff;
  border-radius: 50%;
  padding: 15px;
  background-size: 70% 70%;
}
